
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key, height: 300) : asset_path("https://images.unsplash.com/photo-1485846234645-a62644f84728?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1459")%>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>




<div class="container">

  <div class="cards">
    <% @hash_array.each do |hash| %>
      <div class="card-movie">
        <img src="<%=hash[:movie].poster_url=%>" alt="movie_poster">
        <div class="card-movie-infos">
          <div>
            <h2><%= hash[:movie].title %> - <%= hash[:movie].rating.round(1) %> <i class="fa-solid fa-star"></i></h2>
            <p><%= hash[:movie].overview %></p>
            <br>
            <div class ="d-flex justify-content-between align-items-center">
              <div>
                <p><strong><em> <i class="fa-solid fa-quote-right"></i><%= hash[:comment] %><i class="fa-solid fa-quote-right"></i></em></strong></p>
              </div>
              <div>
                <p> <%= link_to "Supprimer", bookmark_path(hash[:bookmark_id]), method: :delete, class: "btn-delete" %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="reviews d-flex">
    <div class = "card-review">
      <h3>Reviews</h3>
      <hr>
        <% @reviews.each do |review| %>
          <%=review.content%>
          <hr>
        <% end %>
    </div>

    <div class="add-review">
    <h5>Rajouter un commentaire</h5>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>

  <div class = "card-bookmark">
    <h5>Ajouter un bookmark</h5>
    <%=  simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, input_html: { class: 'select2'} %>
      <%= f.input :comment %>
      <%= f.submit "Envoyer", class: "btn btn-primary" %>
    <% end %>
  </div>



  <%= link_to "Revenir à ma collection", lists_path, class: "btn btn-outline-warning" %> </p>


</div>
